node_modules
DAppNodePackage-*
.vscode

# Use yarn
package-lock.json

# Build artifacts
dist
dist-ncc

# When testing commands with this package this files will be generated
# Test build files
build
build_*
dappnode_package*.json
docker-compose.yml
test-avatar.png
avatar.png
releases.json
setup.schema.json
setup-ui.json
disclaimer.md
.cache
.dappnodesdk-build-cache
